<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/author">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/author/profile">       
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/author/createBook">       
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Create Book
        </button>
        <button mat-list-item routerLink="/author/searchbook">       
            <mat-icon mat-list-icon>search_outline</mat-icon>search book
        </button>
        <button mat-list-item routerLink="">       
            <mat-icon mat-list-icon>logout</mat-icon>logout
        </button>
    </mat-action-list>
</mat-card>