<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">purchased books</h1>
                <form>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>email</mat-label>
                        <input required [(ngModel)]="reader.email" name="email" matInput placeholder="enter here">
                        <mat-hint>Enter valid email Id!</mat-hint>
                    </mat-form-field>
                    <div class="container text-center">
                        <div align="right"><button (click)='getPurchasedBooks()' class="btn btn-primary">
                                search</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div align="center">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Logo</th>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>PublishedDate</th>
            <th>Content</th>
            <th>Price</th>
            <th>Active</th>
        </tr>
        <tr *ngFor='let purchasedBook of purchasedBooks'>
            <td>{{purchasedBook.id}}</td>
            <td>{{purchasedBook.logo}}</td>
            <td>{{purchasedBook.title}}</td>
            <td>{{purchasedBook.category}}</td>
            <td>{{purchasedBook.author.name}}</td>
            <td>{{purchasedBook.publisher}}</td>
            <td>{{purchasedBook.publishedDate}}</td>
            <td>{{purchasedBook.content}}</td>
            <td>{{purchasedBook.price}}</td>
            <td><input type="checkbox" [checked]="purchasedBook.active"></td>
        </tr>
    </table>


</div>