<div align="center">

    <h1>Create Books </h1>

    <table>
        <tr>
            <td>Logo</td>
            <td><input [(ngModel)]='book.logo' /></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input [(ngModel)]='book.title' /></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><input [(ngModel)]='book.category' /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input [(ngModel)]='book.author.name' /></td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td><input [(ngModel)]='book.publisher' /></td>
        </tr>
        <tr>
            <td>Published Date</td>
            <td><input [(ngModel)]='book.publishedDate' type='date' /></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input [(ngModel)]='book.content' /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input [(ngModel)]='book.price' type='number' /></td>
        </tr>
        <tr>
            <td>Active</td>
            <td><input [(ngModel)]='book.active' type='checkbox' /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div align="right"><button (click)='createBook()' class="btn btn-primary"> save</button></div>
            </td>
        </tr>
    </table>
</div>



