<div>
    <div align="center">
        <h1>Search Books </h1>
        <table>
            <tr>
                <td>Category</td>
                <Td>
                    <select>
                        <option *ngFor="let category of categoryList"> {{category}} </option>
                    </select>
                </Td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input [(ngModel)]='book.author.name' /></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td><input [(ngModel)]='book.publisher' /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input [(ngModel)]='book.price' type='number' /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div align="right"><button (click)='getBooks()'> search</button></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div align="center">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Logo</th>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>PublishedDate</th>
            <th>Content</th>
            <th>Price</th>
            <th>Active</th>
        </tr>
        <tr *ngFor='let book of books'>
            <td>{{book.id}}</td>
            <td>{{book.logo}}</td>
            <td>{{book.title}}</td>
            <td>{{book.category}}</td>
            <td>{{book.author.name}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publishedDate}}</td>
            <td>{{book.content}}</td>
            <td>{{book.price}}</td>
            <td><input type="checkbox" [checked]="book.active"></td>

        </tr>
    </table>


</div>
